<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.sycu.lxp.dao.OperateLogMapper" >
  <resultMap id="BaseResultMap" type="net.sycu.lxp.pojo.OperateLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_type" property="operateType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_account, operate_time, operate_type
  </sql>
  <!-- 新增日志信息 -->
  <insert id="insert" parameterType="net.sycu.lxp.pojo.OperateLog" >
    insert into operate_log (id, user_name, user_account, 
      operate_time, operate_type)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{operateType,jdbcType=VARCHAR})
  </insert>
  
  <sql id="Get_Operate_Sql">
  	<if test="operateType != null and operateType != ''">
  		ol.operate_type = #{operateType}
  	</if>
  	<if test="userName != null and userName != ''">
  		ol.user_name = #{userName}
  	</if>
  	<if test="account != null and account != ''">
  		ol.user_account = #{account}
  	</if>
  </sql>
  
  <!-- 获取操作日志记录 -->
  <select id="getOperateLogs" resultMap="BaseResultMap" parameterType="net.sycu.lxp.vo.OperateLogVo">
  	select * from operate_log ol
  	<where>
  		<include refid="Get_Operate_Sql"></include>
  	</where>
  	limit #{pageNum},#{pageSize}
  </select>
  
  <!-- 获取操作日志记录数 -->
  <select id="getOperateCount" resultType="java.lang.Integer" parameterType="net.sycu.lxp.vo.OperateLogVo">
  	select count(*) from operate_log ol
  	<where>
  		<include refid="Get_Operate_Sql"></include>
  	</where>
  </select>
  
  <!-- 批量删除操作日志 -->
  <delete id="delete" parameterType="java.lang.String">
  	delete from operate_log ol
  	<where>
      ol.id in 
      <foreach collection="array" item="id" separator="," open="(" close=")">
          #{id}
      </foreach>
  	</where>
  </delete>
  
</mapper>