$default-font-size: 14px;
$default-font-family: "微软雅黑";
$default-font-color: #666;
$default-hover-color: #e4393c;
$default-border-color: #999999;

//login&register
$default-login-width: 1000px;
$default-register-width: 1200px;
$default-input-border-color: rgb(221, 221, 221);
$default-input-color: rgb(204, 204, 204);